<!-- <div class='section-block services-block' >
    <div class='container-fluid' >
       <div class='section-header' >
          <h2>My <strong class='color' >Technical skills</strong></h2>
       </div>
       <div class='row' >
          <div class='col-md-4' >
             <div class='service' >
                <div class='content' >
                   <h4>Programming Languages</h4>
                   <p> Python, C, JavaScript, Java <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                   </p>
                </div>
             </div>
          </div>
          <div class='col-md-4' >
             <div class='service' >
                <div class='content' >
                   <h4>Tools and technologies </h4>
                   <p>
                      Mean Stack (MongoDB, AngularJS, Express,Node.js) <br>
                      Servlets, JSP, Neo4j, 
                      Docker, HTML5, CSS, PostGreSQL, JavaScript, D3.js, HighCharts, Git, RESTful Services.
                   </p>
                </div>
             </div>
          </div>
          <div class='col-md-4' >
             <div class='service' >
                <div class='content' >
                   <h4>Industry Knowledge</h4>
                   <p>
                      Data structures, <br>
                      Algorithms,<br>
                      Programming.
                      <br>
                      <br>
                      <br>
                      <br>
                   </p>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div> -->

 <div class="section-block services-block">
   <div class="container-fluid">
     <div class="section-header">
       <h2>My <strong class="color">Technical skills</strong></h2>
     </div>
 
     <div class="icon-grid">
       <img src="assets/img/portfolio/Angular.webp" alt="Angular" (mouseover)="showTooltip('Angular')" (mouseout)="hideTooltip()">
       <img src="assets/img/portfolio/python.webp" alt="Python" (mouseover)="showTooltip('Python')" (mouseout)="hideTooltip()">
       <!-- <img src="assets/img/portfolio/github.webp" alt="Git" (mouseover)="showTooltip('Vue')" (mouseout)="hideTooltip()">
       <img src="https://example.com/icons/python.svg" alt="Java" (mouseover)="showTooltip('Java')" (mouseout)="hideTooltip()"> -->
     </div>
   </div>
 </div>
 
 <div class="tooltip" [hidden]="!tooltipVisible">{{ tooltipText }}</div>