 <div id = "skills" class="section-block services-block">
   <div class="container-fluid">
     <div class="section-header">
       <h2>My <strong class="color">Technical skills</strong></h2>
     </div>
 
     <div class="icon-grid">
       <img src="assets/img/portfolio/python.webp" alt="Python">
       <img src="assets/img/portfolio/AWS.webp" alt="Python" style="width: 100px; height: 65px;">
       <img src="assets/img/portfolio/github.webp" alt="Git">
       <img src="assets/img/portfolio/java.webp" alt="Java">
       <img src="assets/img/portfolio/Angular.webp" alt="Angular">
     </div>
   </div>
 </div>