 <div id = "skills" class="section-block services-block">
   <div class="container-fluid">
     <div class="section-header">
       <h2>My <strong class="color">Technical skills</strong></h2>
     </div>
 
     <div class="icon-grid">
       <img src="assets/img/portfolio/Angular.webp" alt="Angular" (mouseover)="showTooltip('Angular')" (mouseout)="hideTooltip()">
       <img src="assets/img/portfolio/python.webp" alt="Python" (mouseover)="showTooltip('Python')" (mouseout)="hideTooltip()">
       <img src="assets/img/portfolio/AWS.png" alt="Python" style="width: 100px; height: 65px;" (mouseover)="showTooltip('Python')" (mouseout)="hideTooltip()">
       <img src="assets/img/portfolio/github.png" alt="Git" (mouseover)="showTooltip('Vue')" (mouseout)="hideTooltip()">
       <img src="assets/img/portfolio/java.webp" alt="Java" (mouseover)="showTooltip('Java')" (mouseout)="hideTooltip()">
     </div>
   </div>
 </div>
 
 <div class="tooltip" [hidden]="!tooltipVisible">{{ tooltipText }}</div>