
.icon-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.icon-grid img {
  width: 100px;
  height: 100px;
  margin: 8px;
}

.skill-name {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  display: none;
}


.service {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease-in-out;
}

.service:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.section-title {
  color: #343a40;
  font-size: 20px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.skill-list {
  list-style-type: none;
  padding: 0;
}

.skill-list li {
  margin-bottom: 10px;
  line-height: 1.6;
  color: #495057;
}

.skill-list li strong {
  color: #303F9F;
}


.skill-list {
  display: flex;
  flex-direction: column;
}

.skill-category {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.skill-category strong {
  width: 200px; /* Adjust the width as needed */
}

.skill-category span {
  flex: 1;
  margin-left: 10px;
}

