<div id="professionalExperience" class='section-block timeline-block' >
   <div class='container-fluid' >
      <div class='section-header' >
         <h2>My <strong class='color' >Experience</strong></h2>
      </div>
      <ul class='timeline'>
         <li>
            <div class='timeline-content' >
               <img src="assets/img/portfolio/AWS.png" alt="AWS logo" style="width: 100px; height: 55px; object-fit: cover;"/>
               <h4><B>Amazon Web Services</B></h4>
               <p>Santa Clara, California, USA</p>
               <em>
               <span>Software Development Engineer</span> <br>
               <span>October-2022 - Octoboer-2013</span>
               </em>
               <p> 
                  developed <b>Water Level Indicator</b> using arduino, sensors  which passes the realtime information to customers and constomers
                  are provided with the dashboard to monitor the level of water dynamically.
               </p>
               <div class='intro-btns' >
                  <a href='#works' class='btn-custom section-toggle' style="right: auto;" >
                  My works
                  </a>
              </div>
            </div>
         </li>

         <li>
            <div class='timeline-content' >
               <img src="assets/img/portfolio/zotec.png" alt="AWS logo" style="width: 100px; height: 45px; object-fit: cover;"/>
               <h4>Zotec Partners</h4>
               <h6>Carmel, Indiana, USA.</h6>
               <!-- <em>
               <span>internship</span> <br>
               <span>May-2017 - July-2017</span>
               </em>
               <p> 
                  developed <b>Water Level Indicator</b> using arduino, sensors  which passes the realtime information to customers and constomers
                  are provided with the dashboard to monitor the level of water dynamically.
               </p> -->
               <div class='intro-btns' >
                  <a href='#works' class='btn-custom section-toggle' style="right: auto;" >
                  My works
                  </a>
              </div>
            </div>
         </li>
         
         <li>
            <div class='timeline-content' >
               <img src="assets/img/portfolio/indriyn.jpeg" alt="AWS logo" style="width: 100px; height: 45px; object-fit: cover;"/>
               <h4>Indriyn Technologies pvt.ltd</h4>
               <h6>Andhrapradesh, India.</h6>
               <!-- <em>
               <span>internship</span> <br>
               <span>May-2017 - July-2017</span>
               </em>
               <p> 
                  developed <b>Water Level Indicator</b> using arduino, sensors  which passes the realtime information to customers and constomers
                  are provided with the dashboard to monitor the level of water dynamically.
               </p> -->
               <div class='intro-btns' >
                  <a href='#works' class='btn-custom section-toggle' style="right: auto;" >
                  My works
                  </a>
              </div>
            </div>
         </li>
      </ul>
   </div>
</div>

<div id="education" class='section-block timeline-block' >
    <div class='container-fluid' >
       <div class='section-header' >
          <h2>My <strong class='color' >Education</strong></h2>
       </div>
       <ul class='timeline' >
          <li>
             <div class='timeline-content' >
               <img src="assets/img/portfolio/IIT.svg" alt="AWS logo" style="width: 100px; height: 100px; object-fit: cover;"/>
                <h4>Illinois Institute of Technology </h4>
                <h6>Chicago, Usa.</h6>
                <em>
                <span>Masters (Computer Science)</span>
                <span>A</span>
                <br>
                <span>2020-2022</span>
                </em>
                <p>
                   Currently pursuing masters degree in Computer Science with concentration in Software Engineering,
                   <br> working on projects that include backend development.
                </p>
             </div>
          </li>
          <li>
             <div class='timeline-content' >
               <img src="assets/img/portfolio/GMR.jpeg" alt="AWS logo" style="width: 100px; height: 45px; object-fit: cover;"/>
                <h4>Grandhi Mallikarjuna Rao Institute of Technology </h4>
                <h6>Andhrapradesh, India.</h6>
                <em>
                <span>Bachelors (Computer Science)</span>
                <span>A</span>
                <br>
                <span>2015-2019</span>
                </em>
                <p>
                   Completed Bachelors degree in field of computer science and engineering,
                   <br> worked on projects releated to networking, Iris dection security system.
                </p>
             </div>
          </li>
       </ul>
    </div>
 </div>
