<div class='section-block timeline-block' >
   <div class='container-fluid' >
      <div class='section-header' >
         <h2>My <strong class='color' >Experience</strong></h2>
      </div>
      <ul class='timeline' >
         <li>
            <div class='timeline-content' >
               <h4>Indriyn Technologies pvt.ltd</h4>
               <h6>Andhrapradesh, India.</h6>
               <!-- <em>
               <span>internship</span> <br>
               <span>May-2017 - July-2017</span>
               </em>
               <p> 
                  developed <b>Water Level Indicator</b> using arduino, sensors  which passes the realtime information to customers and constomers
                  are provided with the dashboard to monitor the level of water dynamically.
               </p> -->
            </div>
         </li>
         <li>
      </ul>
   </div>
</div>
<div class='section-block timeline-block' >
    <div class='container-fluid' >
       <div class='section-header' >
          <h2>My <strong class='color' >Education</strong></h2>
       </div>
       <ul class='timeline' >
          <li>
             <div class='timeline-content' >
                <h4>Illinois Institute of Technology </h4>
                <h6>Chicago, Usa.</h6>
                <em>
                <span>Masters (Computer Science)</span>
                <span>A</span>
                <br>
                <span>2020-2022</span>
                </em>
                <p>
                   Currently pursuing masters degree in Computer Science with concentration in Software Engineering,
                   <br> working on projects that include backend development.
                </p>
             </div>
          </li>
          <li>
             <div class='timeline-content' >
                <h4>Grandhi Mallikarjuna Rao Institute of Technology </h4>
                <h6>Andhrapradesh, India.</h6>
                <em>
                <span>Bachelors (Computer Science)</span>
                <span>A</span>
                <br>
                <span>2015-2019</span>
                </em>
                <p>
                   Completed Bachelors degree in field of computer science and engineering,
                   <br> worked on projects releated to networking, Iris dection security system.
                </p>
             </div>
          </li>
       </ul>
    </div>
 </div>
