<div id="professionalExperience" class='section-block timeline-block' >
   <div class='container-fluid' >
      <div class='section-header' >
         <h2>My <strong class='color' >Experience</strong></h2>
      </div>
      <ul class='timeline'>
         <li>
            <div class='timeline-content' >
               <img src="assets/img/portfolio/AWS.webp" alt="AWS logo" style="width: 100px; height: 55px; object-fit: cover;"/>
               <h4><B>Amazon Web Services</B></h4>
               <p>Santa Clara, California, USA</p>
               <em>
               <span>Software Development Engineer</span> <br>
               <span>Oct-2022 - Oct-2023</span>
               </em>
               <div class="tech-stack">Tech Stack: Java, SpringBoot, Python, Junit, Mockito, Pytest, AWS SDK, S3, DynamoDB </div>
               <!-- <div class='intro-btns' >
                  <a href='#works' class='btn-custom section-toggle' style="right: auto;" >
                  My works
                  </a>
              </div> -->
            </div>
         </li>

         <li>
            <div class='timeline-content' >
               <img src="assets/img/portfolio/zotec.webp" alt="Zotec logo" style="width: 100px; height: 45px; object-fit: cover;"/>
               <h4><B>Zotec Partners</B></h4>
               <p>Carmel, Indiana, USA.</p>
               <em>
               <span>Software Engineer</span> <br>
               <span>Feb-2022 - Oct-2022</span>
               </em>
               <div class="tech-stack">Tech Stack: Python, Rest APIs, Redis, Lambda, SQS, FastAPI, Lambda, DynamoDB</div>
               <!-- <hr>

                <ul>
                  <li> Improved the efficiency of health care data access by developing REST APIs using Python FastAPI framework and facilitated
                     seamless interaction with various healthcare operability resources.
                  </li>
                  <li>
                     Reduced retrieval time of patient-specific details by 50% by mapping data to patient metadata stored in DynamoDB.
                  </li>
                  <li>
                     Enhanced healthcare database management by implementing payload validation to ensure data was consistent & accurate.
                  </li>
                  <li>
                     Protected on-premises DB from heavy workloads by engineering throttle management system using Lambda, SQS & Redis.
                     Employed Pytest framework to develop comprehensive unit test cases, utilizing Moto & Monkeypatch techniques to mock AWS
                     resources for testing purposes.
                  </li>
               </ul> -->
               <!-- <div class='intro-btns' >
                  <a href='#works' class='btn-custom section-toggle' style="right: auto;" >
                  My works
                  </a>
              </div> -->
            </div>
         </li>
         
         <li>
            <div class='timeline-content' >
               <img src="assets/img/portfolio/indriyn.webp" alt="Indriyn logo" style="width: 100px; height: 45px; object-fit: cover;"/>
               <h4><B>Indriyn Technologies</B></h4>
               <P>Andhrapradesh, India.</P>
               <em>
               <span>Internship</span> <br>
               <span>May-2019 - Oct-2019</span>
               </em>
               <!-- <p> 
                  developed <b>Water Level Indicator</b> using arduino, sensors  which passes the realtime information to customers and constomers
                  are provided with the dashboard to monitor the level of water dynamically.
               </p> -->
               <!-- <div class='intro-btns' >
                  <a href='#works' class='btn-custom section-toggle' style="right: auto;" >
                  My works
                  </a>
              </div> -->
              <div class="tech-stack">Tech Stack: HTML, CSS, NodeJS, SQL, Express </div>
            </div>
         </li>
      </ul>
   </div>
</div>

<div id="education" class='section-block timeline-block' >
    <div class='container-fluid' >
       <div class='section-header' >
          <h2>My <strong class='color' >Education</strong></h2>
       </div>
       <ul class='timeline' >
          <li>
             <div class='timeline-content' >
               <img src="assets/img/portfolio/IIT.svg" alt="AWS logo" style="width: 100px; height: 100px; object-fit: cover;"/>
                <h4><B>Illinois Institute of Technology - Chicago, IL</B></h4>
                <em>
                <span>Masters (Computer Science)</span>
                <span>Grade A</span>
                <br>
                <span>2020-2022</span>
                </em>
                <!-- <p>
                   Currently pursuing masters degree in Computer Science with concentration in Software Engineering,
                   <br> working on projects that include backend development.
                </p> -->
             </div>
          </li>
          <li>
             <div class='timeline-content' >
               <img src="assets/img/portfolio/GMR.webp" alt="AWS logo" style="width: 100px; height: 45px; object-fit: cover;"/>
                <h4>Grandhi Mallikarjuna Rao Institute of Technology </h4>
                <!-- <h6>Andhrapradesh, India.</h6> -->
                <em>
                <span>Bachelors (Computer Science)</span>
                <span> Grade A</span>
                <br>
                <span>2015-2019</span>
                </em>
                <!-- <p>
                   Completed Bachelors degree in field of computer science and engineering,
                   <br> worked on projects releated to networking, Iris dection security system.
                </p> -->
             </div>
          </li>
       </ul>
    </div>
 </div>
