<div id="projects" class="section-block services-block">
   <div class="container-fluid">
     <div class="section-header">
       <h2>My <strong class="color"> works</strong></h2>
     </div>
     <div class="card-group">
      <div class="card">
        <div class="card-header">Project 1</div>
        <img src="assets/img/portfolio/uv.webp" alt="Project 1" />
        <div class="card-footer">This is a description of the first project I worked on.
         This is a description of the second project I worked on.
         This is a description of the second project I worked on.
         This is a description of the second project I worked on.
      </div>
      </div>
      <div class="card">
        <div class="card-header">Project 2</div>
        <img src="assets/img/portfolio/uv.webp" alt="Project 2" />
        <div class="card-footer">This is a description of the second project I worked on.</div>
      </div>
      <div class="card">
        <div class="card-header">Project 3</div>
        <img src="assets/img/portfolio/uv.webp" alt="Project 3" />
        <div class="card-footer">This is a description of the third project I worked on.</div>
      </div>
      <div class="card">
         <div class="card-header">Project 3</div>
         <img src="assets/img/portfolio/uv.webp" alt="Project 3" />
         <div class="card-footer">This is a description of the third project I worked on.</div>
       </div>
    </div>
    </div>
</div>
