<!-- <div class='section-block portfolio-block' >
    <div class='container-fluid' >
      <div class='v-align' >
         <div class='inner' >
            <div class='intro-text' >
               <div class='section-header' >
                  <h2>My <strong class='color' >Works</strong></h2>
               </div>
            </div>
         </div>
      </div>
   </div>
</div> -->
       <!-- <div class="row">
          <div class="main">
             <h2>PiHole</h2>
             <h5>A DNS Level Ad-blocker, July,2020</h5>
             <div class="fakeimg" style="height:300px;"><img src="assets/img/portfolio/pihole.webp" alt="pihole" class="projects"></div>
             <ul class="b">
                <li>Docker</li>
                <li>Raspberry-pi</li>
                <li>OpenDNS</li>
             </ul>
             <br>
             <p>Ad's are annoying,I'm watching a video and there comes annoying ads, playing music ad again, games ad's, ad's again and again <b><i>then how do I block them?</i></b> Pihole made me it possible. </p>
             <p>Pihole blocks the ad at the DNS level,adding custom lists to blacklist and blocking them and more, OpenDNS has inbuilt lists so when configured with routers it makes much easier to block all the adult content and other misleading url's. </p>
             <div class='about-btns' >
                <a href='./maintaince_page.html' target="_blank" class='btn-custom btn-color' >
                View More
                </a>
                <a href='https://github.com/VivekSumanth/Pihole-docker' target="_blank" class='btn-custom btn-color' >
                Code
                </a>
             </div>
             <br>
             <hr>
             <br>
             <h2>#100 Days of Leetcode</h2>
             <h5>Competitive Programming, May 16th, 2020 - Aug 24th, 2020</h5>
             <div class="fakeimg" style="height:300px;"><img src="assets/img/portfolio/100daysofcode.webp" alt="leetcode" class="projects"></div>
             <ul class="b">
                <li>Python</li>
                <li>Leetcode</li>
                <li>Geeks for Geeks</li>
             </ul>
             <br>
             <p><b><i>(In Progress)</i></b></p>
             <p></p>
             <div class='about-btns' >
                <a href='./maintaince_page.html' target="_blank" class='btn-custom btn-color' >
                View More
                </a>
                <a href='https://github.com/VivekSumanth/Code-Everyday' target="_blank" class='btn-custom btn-color' >
                Codes
                </a>
                <br>
                <hr>
                <br>
                <h2>Restaurants and Social places</h2>
                <h5>User, Jan,2020 - May,2020 </h5>
                <div class="fakeimg" style="height:300px;"><img src="assets/img/portfolio/socialplaces.webp" alt="leetcode" class="projects"></div>
                <ul class="b">
                   <li>Mean Stack (MongoDB,Express,AngularJS,NodeJs) </li>
                   <li>PostGreSQL</li>
                </ul>
                <br>
                <p>Yelp API provides the data about restaurants and social places around us, Nutritionx API provides the data about nutitional facts 
                   in the food, Recombee API provides recommendations from the ratings and reviews provides.<b><i>Integrating these makes 
                   application for the users.
                   </i></b>
                </p>
                <p>Restaurants and Socialplaces allows the users to create a account, lets users to browse social places by location,
                   allows users to check for their nutitional facts and provides recommendations by thier ratings and reviews.
                </p>
                <div class='about-btns' >
                   <a href='./maintaince_page.html' target="_blank" class='btn-custom btn-color' >
                   View More
                   </a>
                   <a href='https://github.com/VivekSumanth/restaurants-and-social-places' target="_blank" class='btn-custom btn-color' >
                   Code
                   </a>
                </div>
                <br>
                <hr>
                <br>
                <h2>Superstore-Dashboard</h2>
                <h5>Title description, Apl,2020 - May,2020</h5>
                <div class="fakeimg" style="height:300px;"><img src="assets/img/portfolio/dashboard.webp" alt="leetcode" class="projects"></div>
                <ul class="b">
                   <li>Mean Stack (MongoDB,Express,AngularJS,NodeJs)</li>
                   <li>HighCharts</li>
                </ul>
                <br>
                <p>Reading the data going through the tables with a billion records and understanding the trends, retrieving the information required, or manipulating the information is not only a tedious job moreover an impossible task when the table grows bigger and bigger.
                   <i><b>So how do I automate it?</b></i> Yeah, Data manipulation becomes a lot easy with databases, with the pass of the query on the data, there you go boom we get the data..
                </p>
                <p>Yeah retrieving the data is now easy, displaying the number is boring to do so, <b><i>how do I present the data in a nice interactive way so my clients can effortlessly understand?</i></b> data visualization is showing the data in a chart format makes the data easy to understand and even easy to draw comparisons between each other. </p>
                <p> </p>
                <div class='about-btns' >
                   <a href='./maintaince_page.html' target="_blank" class='btn-custom btn-color' >
                   View More
                   </a>
                   <a href='https://github.com/VivekSumanth/superstore-dashboard' target="_blank" class='btn-custom btn-color' >
                   Code
                   </a>
                </div>
                <br>
                <hr>
                <br>
                <h2>A Study on Data Anonymization for Privacy-Preserving Data Publishing</h2>
                <h5>Nov,2019</h5>
                <div class="fakeimg" style="height:300px;"><img src="assets/img/portfolio/paperphoto.webp" alt="leetcode" class="projects"></div>
                <ul class="b">
                   <li>Conference Paper</li>
                   <li>RSRI conference on recent trends in science and engineering (RSRI CRSE 2019), Indore</li>
                </ul>
                <br>
                <p>GOVERNMENT offices and other
                   organizations often need to publish small scale data,
                   e.g., medical data or enumeration data, for research
                   and other purposes. Typically, such data are stored
                   in a table, and each record (push) relates to one
                   individual. Each record has various attributes, like Social Security Number etc information which reveal 
                   the identity of a individual, So Protecting this data is a key issue
                </p>
                <p>sophisticated data mining algorithms and high
                   computational forces available with the foe. All this
                   makes it possible to leverage this information.
                   Although most of the applications rest evacuate the
                   records having sensitive information like name,
                   social security numbers (or some other exceptional
                   identification number), other kind of attributes can be protected without revealing private information
                </p>
                <div class='about-btns' >
                   <a href='./maintaince_page.html' target="_blank" class='btn-custom btn-color' >
                   View More
                   </a>
                   <a href='./conferences/Paper.pdf' target="_blank" class='btn-custom btn-color' >
                   Conference Paper
                   </a>
                </div>
                <br>
                <hr>
                <br>
                <h2>Water management and prediction of water levels in tanks</h2>
                <h5>Title description, May,2017 - July,2017</h5>
                <div class="fakeimg" style="height:300px;"><img src="assets/img/portfolio/uv.webp" alt="leetcode" class="projects"></div>
                <ul class="b">
                   <li>HTML,CSS</li>
                   <li>NodeJS,Express</li>
                   <li>Azure</li>
                   <li>Arduino</li>
                   <li>UV Sensor</li>
                </ul>
                <br>
                <p>Out of 70% water present on the earth we only have 2.5% of fresh water which can be utilized for various
                   purposes, it's our utmost resposibility so save water and use them wisely, 
                   though we are cautious enough humans are always prone to make mistakes so 
                   inovating the power of technology to save crucial resourses like water makes a great difference in long run.
                </p>
                <p>This water level detection is primary step of this, UV Sensor's integrated with Arduino produces the distance between sensor
                   and obstacle which can be used to find the water level in tanks.
                </p>
                <div class='about-btns' >
                   <a href='./maintaince_page.html' target="_blank" class='btn-custom btn-color' >
                   View More
                   </a>
                   <a href='https://github.com/VivekSumanth/water-detection-system' target="_blank" class='btn-custom btn-color' >
                   Code
                   </a>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
</div>
</div> -->
<!-- </div> -->


<div class="section-block portfolio-block">
   <div class="container-fluid">
     <div class="v-align">
       <div class="inner">
         <div class="intro-text">
           <div class="section-header">
             <h2>My <strong class="color">Works</strong></h2>
           </div>
         </div>

         <div class="card-group">
            <div class="card">
              <div class="card-header">Project 1</div>
              <img src="assets/img/portfolio/uv.webp" alt="Project 1" />
              <div class="card-footer">This is a description of the first project I worked on.
               This is a description of the second project I worked on.
               This is a description of the second project I worked on.
               This is a description of the second project I worked on.
            </div>
            </div>
            <div class="card">
              <div class="card-header">Project 2</div>
              <img src="assets/img/portfolio/uv.webp" alt="Project 2" />
              <div class="card-footer">This is a description of the second project I worked on.</div>
            </div>
            <div class="card">
              <div class="card-header">Project 3</div>
              <img src="assets/img/portfolio/uv.webp" alt="Project 3" />
              <div class="card-footer">This is a description of the third project I worked on.</div>
            </div>
            <div class="card">
               <div class="card-header">Project 3</div>
               <img src="assets/img/portfolio/uv.webp" alt="Project 3" />
               <div class="card-footer">This is a description of the third project I worked on.</div>
             </div>
          </div>
       </div>
     </div>
   </div>
 </div>
 