<div class='main-content' >
    <div class = 'sections'>
        <section id='about' class='section section-main active'>
            <app-menu></app-menu>
            <img src="assets/img/portfolio/profile.webp" alt="Avatar" class="avatar">
            <title>Project Report</title>
        
            <h1>Project Report</h1>
        
            <!-- Replace 'image.jpg' with the actual filename and path of your image -->
        
            <h2>Introduction</h2>
            <p>
                This is my favorite image because it captures a beautiful moment. 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Sed at justo eget nulla dictum congue. 
                Vivamus eu felis tempor, faucibus velit at, accumsan ex.
            </p>
        
            <!-- Add more sections as needed with appropriate headings and content -->
        
        </section>
    </div> 
</div>