         <!-- =====================================================
         Menu Button
         =====================================================  -->
         <a href='#' class='menu-btn' >
            <span class='lines' >
            <span class='l1' ></span>
            <span class='l2' ></span>
            <span class='l3' ></span>
            </span>
         </a>
      <!--=====================================================
         Menu
         =====================================================-->
      <div class='menu'  >
         <div class='inner' >
            <ul class='menu-items' >
               <li>
                  <a href = '#' class='section-toggle' data-section='about' >
                  Vivek Sumanth
                  </a>
               </li>
               <li>
                  <a href='#resume' class='section-toggle' data-section='resume' >
                  Time Line
                  </a>
               </li>
               <li>
                  <a href='#portfolio' class='section-toggle' data-section='portfolio' >
                  My Works
                  </a>
               </li>
               <li>
                  <a href= './maintaince_page.html' target="_blank" class='section-toggle' data-section='intro' >
                  Blogs
                  </a>
               </li>
            </ul>
         </div>
      </div>
