   <!-- =====================================================
   Menu Button
   =====================================================  -->
   <a href='#' class='menu-btn' >
      <span class='lines' >
      <span class='l1' ></span>
      <span class='l2' ></span>
      <span class='l3' ></span>
      </span>
   </a>
<!--=====================================================
   Menu
   =====================================================-->
<div class='menu'  >
   <div class='inner' >
      <ul class='menu-items' >
         <li>
            <a href = '#profile' class='section-toggle'>
            Vivek Sumanth
            </a>
         </li>
         <li>
            <a href='#skills' class='section-toggle' >
            Skills
            </a>
         </li>
         <li>
            <a href='#professionalExperience' class='section-toggle' >
               Experience
            </a>
         </li>
         <li>
            <a href='#education' class='section-toggle' >
            Education
            </a>
         </li>
         <!-- <li>
            <a href='#projects' class='section-toggle' >
            Projects
            </a>
         </li> -->
      </ul>
   </div>
</div>
