<main class="main"></main>
<!-- <app-portfolio></app-portfolio>
<app-footer></app-footer> -->

<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>ME | VIVEK</title>
      <script src='https://kit.fontawesome.com/a076d05399.js'></script>
      <link rel='stylesheet' type='text/css' href='bootstrap/css/bootstrap.min.css' >
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="shortcut icon" type="image/x-icon" href = "./img/portfolio/websitelogo.webp">
   </head>
   
   <body >
      <div class='main-content' >

         <div class = 'sections'>
            <section id='about' class='section section-main active'>
               <app-menu></app-menu>
               <app-profile></app-profile>
               <app-technical-skills></app-technical-skills>
               <app-timeline></app-timeline>
               <!-- <app-projects></app-projects> -->
            </section>
         </div>

      </div>
   </body> 
   <app-footer></app-footer>
</html>

<router-outlet></router-outlet>
