<div class='section-block about-block'>
   <div class='container-fluid'>
       <div class='row'>
           <div class='col-md-5'>
               <img src="assets/img/portfolio/profile.webp" alt="Avatar" class="avatar">
               <h2 id="profile" style="margin: 20px;"><b>   Vivek Sumanth Chintakula </b></h2>
               <ul class='info-list'>
                   <li>
                       <a href="https://www.linkedin.com/in/viveksumanth/" target="_blank" class="fa fa-linkedin fa-2x"></a>
                       <a href="https://github.com/VivekSumanth" target="_blank" class="fa fa-github fa-2x"></a>
                       <a href="https://www.instagram.com/viveksumanth/" target="_blank" class="fa fa-instagram fa-2x"></a>
                       <a href="mailto:viveksumanth97@gmail.com"><i class="fa fa-mail">&#xf0e0;</i></a>
                   </li>
               </ul>
               <!-- <div class='intro-btns' >
                  <a href='assets/img/portfolio/resume.pdf' class='btn-custom section-toggle' style="margin: 10px;">
                     Hire me
                  </a>
               </div> -->
           </div>
           <div class='col-md-6'>
               <div class='section-header'>
                   <h2 id="profile">About me</h2>
                   <p style="font-size: 15px;">
                       Hello! <span class="waving-hand">👋</span> I'm Vivek, a software engineer with a solid two-year
                       <a href="#professionalExperience"> professional Experience </a>
                       <br> Armed with a master's and bachelor's degree in computer science, and
                       <br>certified as an <a href="https://www.credly.com/badges/219b3771-906e-4c4b-b761-317a305f4504?source=linked_in_profile">AWS Developer</a>. Beyond work, I dedicate time to honing my skills
                       <br>through coding challenges (<a href="https://leetcode.com/VivekSumanth/">leetcode</a>). 💻🌟 #MotivatedCoder #ContinuousGrowth
                       <br>
                       <br> Let's <a href="https://www.linkedin.com/in/viveksumanth/">connect</a> and discuss our shared passion for software engineering and innovation!
                   </p>
               </div>

               <div class='intro-btns'>
                   <a href='#skills' class='btn-custom section-toggle' style="margin: 5px;">
                       Skills
                   </a>
                   <a href='#professionalExperience' class='btn-custom section-toggle' style="margin: 5px;">
                       Professional Experience
                   </a>
                   <br>
                   <a href='#education' class='btn-custom section-toggle' style="margin: 5px;">
                       Education
                   </a>
                   <!-- <a href='#projects' class='btn-custom section-toggle' style="margin: 5px;" >
                   Projects
                   </a> -->
                   <a href='assets/img/portfolio/resume.pdf' class='btn-custom section-toggle'>
                       Resume
                   </a>
               </div>
               <hr>
               <h2>Github stats!</h2>
               <a href="https://github.com/VivekSumanth">
                   <img src="https://ghchart.rshah.org/viveksumanth" alt="VivekSumanth's Github chart" />
               </a>
               <hr>
           </div>
       </div>
   </div>
</div>