
<!-- <div class='section-block about-block' >

</div> -->

<!-- <div class='container-fluid-header' >
    <div class='section-header' >
        <div class='intro-btns' >
            <a href='assets/img/portfolio/resume.pdf' target="_blank" class='btn-custom section-toggle' data-section='about' style="margin: 5px;" >
            Resume
            </a>
            <a href='#resume' class='btn-custom section-toggle' data-section='resume' style="margin: 5px;" >
            TimeLine
            </a>
            <a href='#portfolio' class='btn-custom section-toggle' data-section='portfolio' style="margin: 5px;" >
            My works
            </a>
            <hr>
        </div>
    </div>
</div> -->

<div class='section-block about-block' >
    <div class='container-fluid' >
       <div class='row' >
          <div class='col-md-5' >
             <img src="assets/img/portfolio/profilepicture.webp" alt="Avatar" class="avatar">
             <ul class='info-list' >
                <li>
                   <a href="https://www.linkedin.com/in/viveksumanth/"  target="_blank" class="fa fa-linkedin fa-2x"></a>
                   <a href="https://github.com/VivekSumanth"  target="_blank" class="fa fa-github fa-20x"></a>
                   <a href="https://www.instagram.com/viveksumanth/"  target="_blank" class="fa fa-instagram fa-2x"></a>
                   <a href="mailto:viveksumanth97@gmail.com"><i class="fa fa-mail">&#xf0e0;</i></a>
                </li>
             </ul>
          </div>
          <br>
          <div class='col-md-1'>
                <div class='col-md-6' >
                    <div class='section-header'>
                        <h2>About me</h2>
                        <p> I am Vivek Sumanth Chintakula, Write about section</p>
                        <p> I am Vivek Sumanth Chintakula, Write about section </p>
                        <p> I am Vivek Sumanth Chintakula, Write about section</p>
                    </div>
                
                    <div class='intro-btns' >
                        <a href='assets/img/portfolio/resume.pdf' target="_blank" class='btn-custom section-toggle' data-section='about' style="margin: 5px;" >
                        Resume
                        </a>
                        <a href='#resume' class='btn-custom section-toggle' data-section='resume' style="margin: 5px;" >
                        TimeLine
                        </a>
                        <a href='#portfolio' class='btn-custom section-toggle' data-section='portfolio' style="margin: 5px;" >
                        My works
                        </a>
                    </div>
                    <br>
                    <br>
                    <h2><q>Contributions!</q></h2>
                    <a href="https://github.com/VivekSumanth">
                        <img src="https://ghchart.rshah.org/viveksumanth" alt="2016rshah's Github chart" />
                    </a>
                </div>
            </div>
       </div>
    </div>
 </div>
 
