<div class='section-block skills-block' >
    <div class='container-fluid' >
       <div class='section-header' >
          <h2>
             My <strong class='color' >Top Skills</strong>
          </h2>
       </div>
       <div class='row' >
          <div class='col-md-6' >
             <div class='skill' >
                <h4>Python </h4>
                <div class='bar' >
                   <div class='percent' style='width:90%;' ></div>
                </div>
             </div>
             <div class='skill' >
                <h4>Mean Stack </h4>
                <div class='bar' >
                   <div class='percent' style='width:70%;' ></div>
                </div>
             </div>
             <div class='skill' >
                <h4>JavaScript</h4>
                <div class='bar' >
                   <div class='percent' style='width:65%;' ></div>
                </div>
             </div>
          </div>
          <div class='col-md-6' >
             <div class='skill' >
                <h4>HTML/CSS</h4>
                <div class='bar' >
                   <div class='percent' style='width:75%;' ></div>
                </div>
             </div>
             <div class='skill' >
                <h4>Docker</h4>
                <div class='bar' >
                   <div class='percent' style='width:40%;' ></div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
